<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Task1_WCF.Service1" behaviorConfiguration="mexBehavior">
        <endpoint address="Service1" binding="basicHttpBinding" contract="Task1_WCF.IService1"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>

    </services>
  </system.serviceModel>
</configuration>

